<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C4LPHEGQTB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C4LPHEGQTB');
</script>

<!--mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter / X -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Bama Roster News JDQ">
<meta name="twitter:description" content="The latest updates, news, and roster insights on Alabama football.">
<meta name="twitter:image" content="https://bamarosternewsjdq.com/assets/preview.jpg">

